<div>
  <div>
    <button type="button" class="btn btn-warning m-lg-4" routerLink="/add-restaurant">Add New Restaurant</button>
  </div>
  <table class="table table-hover table-Secondary table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Location</th>
        <th scope="col">Rating</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rest of restaurants">
        <td>{{ rest.id }}</td>
        <td>{{ rest.name }}</td>
        <td>{{ rest.owner }}</td>
        <td>{{ rest.mobile }}</td>
        <td>{{ rest.email }}</td>
        <td>{{ rest.location }}</td>
        <td>{{ rest.rating }}</td>
        <td>
          <div>
            <a [routerLink]="['/edit-restaurant', rest.id]"> <i class="fa fa-edit"></i></a>

            <!-- <i class="fa fa-trash-can btn-clickable" (click)="openDeleteModal()"></i> -->
            <i class="fa fa-trash-can btn-clickable"></i>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
