<div>
  <div>
    <button type="button" class="btn btn-warning m-lg-4">Add New Restaurant</button>
  </div>
  <table class="table table-hover table-Secondary table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Owner</th>
        <th scope="col">Mobile</th>
        <th scope="col">Email</th>
        <th scope="col">Location</th>
        <th scope="col">Rating</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Restaurant 1</td>
        <td>Owner 1</td>
        <td>+3650000</td>
        <td>email1@email.com</td>
        <td>Location 1</td>
        <td>5</td>
        <td>
          <div>
            <i class="fa fa-edit"></i>
            <i class="fa fa-trash-can"></i>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Restaurant 2</td>
        <td>Owner 2</td>
        <td>+3650000</td>
        <td>email1@email.com</td>
        <td>Location 2</td>
        <td>3</td>
        <td>
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash-can"></i>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Restaurant 3</td>
        <td>Owner 3</td>
        <td>+3650000</td>
        <td>email1@email.com</td>
        <td>Location 3</td>
        <td>4</td>
        <td>
          <i class="fa fa-edit"></i>
          <i class="fa fa-trash-can"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
